AIRFLOW_PROJ_DIR=./airflow                          # Каталог с DAG для Airflow
POSTGRES_PASSWORD=airflow                           # Настройки Postgres (используется для Airflow)
POSTGRES_USER=airflow
POSTGRES_DB=airflow
GITLAB_URL=https://gitlab.local                     # Адрес GitLab, репозитории которого будут индексироваться
GITLAB_TOKEN=xxx                                    # Токен для доступа к GitLab
GITLAB_FILE_FILTER=*.py;*.js                        # Фильтры для файлов из GitLab, которые будут индексироваться
QDRANT_URL=http://localhost                         # Адрес сервиса Qdrant
VLLM_LLM_MODEL=Qwen/Qwen2.5-3B-Instruct             # Основная модель для ассистента
VLLM_LLM_DRAFT_MODEL=Qwen/Qwen2.5-0.5B-Instruct     # Черновая модель для Speculative Decoding
VLLM_EMB_MODEL=BAAI/bge-base-en                     # Модель эмбеддингов
VLLM_RANK_MODEL=BAAI/bge-reranker-v2-m3             # Модель ранжирования
VLLM_GPU_DEVICE=0                                   # Номер GPU для vLLM
LLAMA_LLM_MODEL=Qwen/Qwen2.5-3B-Instruct            # Аналогичные модели, но для llama.cpp
LLAMA_EMB_MODEL=BAAI/bge-base-en
LLAMA_RANK_MODEL=BAAI/bge-reranker-v2-m3
